* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  user-select: none;
}

body {
  width: 99.92vw;
  height: 99.92vh;
  background-color: #0c1d3d;
  color: white;
}

header {
  display: flex;
  flex-wrap: wrap;
  height: 6%;
  width: 100%;
  border-bottom: solid white 0.5px;
}

.toolBar {
  display: flex;
  gap: 2px;
  height: 100%;
  width: 50%;
}

main {
  overflow: hidden;
  display: flex;
  position: relative;
  height: 94%;
  width: 100%;
}

.panels {
  overflow: hidden;
  display: flex;
  width: 20%;
  min-width: 20%;
}

.resizeHandler {
  cursor: col-resize;
  width: 1%;
  height: 100%;
  min-width: 5px;
  background-color: #eee;
}

#classSelector {
  width: 99%;
  height: 100%;
  z-index: 10;
}

.annotator {
  position: relative;
  width: 80%;
  overflow: hidden;
}

#imgCanvas {
  width: 100%;
  height: 100%;
  z-index: 0;
}

#guideLineCanvas {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}
