* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  width: 99.92vw;
  height: 99.92vh;
  background-color: #0c1d3d;
  color: white;
}

header {
  display: flex;
  flex-wrap: wrap;
  height: 6%;
  width: 100%;
  border-bottom: solid white 0.5px;
}

#toolBar {
  display: flex;
  gap: 2px;
  height: 100%;
  width: 50%;
}

main {
  display: flex;
  position: relative;
  height: 94%;
  width: 100%;
  display: flex;
}

#classSelector {
  height: 100%;
  width: 30%;
  border-left: solid white 0.5px;
}

canvas {
  width: 70%;
  height: 100%;
}

#imageCanvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#canvas {
  z-index: 1;
  background-color: transparent;
}
